.wrapper {
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 16px;
  background: #1a1a1a;
}

.coverWrapper {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
  overflow: hidden;
  width: 100%;

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.13, 1.02);
  background-image: url('https://i.getgems.io/ZL-3inLrG-6zgiOOfokQwZnsNc9PxfCjYBQpMYNVkQk/rs:fill:500:500:1/g:ce/czM6Ly9nZXRnZW1zLXMzL25mdC1jb250ZW50LWNhY2hlL2ltYWdlcy9FUURta2o2NUFiX20wYVphVzhJcEt3NGtZcUlnSVR3X0hSc3RZRWtWUTZOSVlDeVcvYzA5MWZiMzlmMDMyNzIxNw');

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; /* Optional: smoother transition */
  }
}

.info {
  padding: 13px 16px 15px;
  display: flex;
  flex-direction: column;
}

.infoTitle {
  overflow: hidden;
  align-self: start;
}

.infoPrice {
  overflow: hidden;
  display: flex;
  align-items: center;
}
