.tabs {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #151515;
}

.tabsList {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 16px;
  overflow: hidden;

  border-radius: 8px;
}

.tabsListItem {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: #919191;
  width: 100%;
  text-align: center;
}

.tabsListItem.active {
  background-color: #e6e6e6;
}

.tabsContentItem.active {
  display: block;
}

.tabsContentItem.hidden {
  display: none;
}