.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkDropdown {
  margin-left: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }

  & option {
    background-color: #222;
    font-size: 16px;
    color: #fff;
  }

  & option:hover {
    background-color: #444;
  }
}