.root {
  color: #e6e6e6;
  z-index: 999;
}

.popupOpen {
  display: flex;
  width: 100%;
  cursor: default;
  position: absolute;
  bottom: 0;
}

.popupOpen {
  animation: slideUp 0.3s ease-in-out forwards;
}

.popupClosed {
  display: none;
}

.overlay {
  cursor: pointer;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(19, 19, 20, 0.6);
  transition: opacity 167ms ease-out;
  animation: modal-fade-in 0.32s ease;
}

.body {
  box-sizing: border-box;
  padding: 16px;
  background-color: #2b2b2b;
  border-radius: 16px;
  position: relative;
  width: 100%;
}

.close {
  background: rgba(255, 255, 255, 0.12);
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  position: sticky;
  top: 48px;
  margin-right: calc(-48px - 5px);
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--white);
  transition: opacity 0.2s ease-in-out;
}

.title {
  margin-bottom: 22px;
  line-height: 34px;
  font-size: 40px;
  font-weight: 900;
}

.buttons {
  padding-bottom: 32px;
}

.button,
.buttonCancel {
  color: #e6e6e6;
  width: 100%;
  margin-top: 20px;
  border-radius: 14px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 900;
}

.button {
  background-color: #009dfa;
}

.buttonCancel {
  background-color: #383838;
}

.buttonDisabled {
  pointer-events: none;
  background-color: rgba(0, 157, 250, 0.5);
}

.inner {
  padding: 10px 0 10px 0;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
