.wrapper {
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.coverWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  &::after {
    content: '';
    display: block;
    padding-top: 120%;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.13, 1.02);
  background-image: url('https://i.getgems.io/ZL-3inLrG-6zgiOOfokQwZnsNc9PxfCjYBQpMYNVkQk/rs:fill:500:500:1/g:ce/czM6Ly9nZXRnZW1zLXMzL25mdC1jb250ZW50LWNhY2hlL2ltYWdlcy9FUURta2o2NUFiX20wYVphVzhJcEt3NGtZcUlnSVR3X0hSc3RZRWtWUTZOSVlDeVcvYzA5MWZiMzlmMDMyNzIxNw');
  background-position: 50% 50%;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; /* Optional: smoother transition */
  }
}

.info {
  box-sizing: border-box;
  padding: 2px 16px 2px 16px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.infoTitle {
  overflow: hidden;
  align-self: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  color: #e6e6e6;
}

.infoPrice {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.container {
  padding: 16px;
  box-sizing: border-box;
  width: 50%;
}
