.container {
  display: flex;
  align-items: center;

  > div:nth-child(2n) {
    padding-left: 8px;
  }

  > div:nth-child(2n - 1) {
    padding-right: 8px;
  }
}

.header {
  padding: 16px;
  margin: 0;
}
