.container {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 10px;
}

.input {
  background-color: #222;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #444;
}