.header {
  display: flex;
  height: 72px;
  padding: 0 12px;
  align-items: center;
}

.headerContentWrapper {
  display: flex;
  flex: 1;
  align-items: baseline;
  justify-content: space-between;
}

.notConnectedWallet {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.greeting {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 8px;
  text-align: center;
}